* {
	font-family: 'Inconsolata', monospace;
	font-weight: 500;
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
.main {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
	min-width: 280px;
}

.form {
}

.form-fieldset {
	padding: 10px;
	width: 40%;
	display: flex;
	flex-direction: column;
}

.user-name {
	display: flex;
	flex-direction: column;
}

.user-name > .name {
	margin: 10px 0;
	outline: none;
	height: 30px;
    padding: 10px;
}

.box {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.box > input {
	margin-right: 10px;
}

/*the container must be positioned relative:*/
.custom-select {
	position: relative;
	font-family: Arial;
	margin-bottom: 10px;
}

.custom-select select {
	display: none; /*hide original SELECT element:*/
}

.select-selected {
	background-color: DodgerBlue;
	font-size: 15px;;
}

/*style the arrow inside the select element:*/
.select-selected:after {
	position: absolute;
	content: '';
	top: 14px;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
	border-color: transparent transparent #fff transparent;
	top: 7px;
}

.select-items {
	height: 280px;
	overflow-y: scroll;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
	color: #ffffff;
	padding: 8px 16px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	user-select: none;
}

/*style items (options):*/
.select-items {
	position: absolute;
	background-color: #adadad;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
	display: none;
}

.select-items div:hover,
.same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
}

.comentario {
	margin-bottom: 10px;
}

.container-buttons {
    display: flex;
    flex-direction: column;
}

.button {
    width: 100%;
    font-weight: bold;
    border-radius: 3px;
    height: 30px;
    background-color: transparent;
    border: 1px solid gray;
}

.button1 {
    margin-bottom: 10px;
}
