.form {
	display: flex;
	justify-content: center;
	width: 100%;
}

.form-fieldset {
	width: 30%;
    font-size: 5rem;
    padding: 20px;
    border-radius: 5px;
}

.select-items {
	font-size: 3rem;
}

.container-buttons {
    flex-direction: row;
    justify-content: space-evenly;
}

.button {
    margin-top: 10px;
	width: 30%;
}

.button1 {
	margin-bottom: 10px;
}
